<div ng-controller="encounterListController as encounterListControl">


    <div class="container-fluid">

        <form class="form-group">
            <input class="form-control"  type="text" id="xname" autofocus
                   placeholder="{{encounterListControl.userPrompt.defaultName}}"
                   ng-model="encounterListControl.userPrompt.getCurrentCharacter().name">
            </input>
            <input class="form-control" type="number" id="ini" name="ini"
                   placeholder="{{encounterListControl.userPrompt.iniPromptPlaceHolder}}"
                   ng-model="encounterListControl.userPrompt.getCurrentCharacter().initiative">
            </input>

            <button type="submit" onclick="document.getElementById('xname').focus()" ng-click="encounterListControl.userPrompt.next()"
                    ng-disabled="!encounterListControl.userPrompt.isFormValid()"
                    class="btn btn-primary">Next</button>

            <button type="button" ng-click="encounterListControl.userPrompt.finish()"
                    ng-disabled="!encounterListControl.userPrompt.isFinishValid()"
                    class="btn btn-success">Finish</button>

        </form>

        <table class="table table-responsive">
            <thead>
            <tr>
                <th> Added </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="character in encounterListControl.userPrompt.characterList.getCharacterArray()">
                <td>{{character.name}}</td>
            </tr>
            </tbody>

        </table>

    </div>

</div>
