<div class="container-fluid" ng-controller="IniListController as inilistController">
    <form class="form-group">
        <div id="testdiv" tabindex="0" ng-keyup="inilistController.inilist.movecharacter($event)">
        <table class="table table-responsive table-hover" ng-init="inilistController.inilist.initFight()">
            <thead>
            <tr>
                <th ng-repeat="header in inilistController.inilist.getTableHeader()">{{header}}</th>
            </tr>
            </thead>
            <tbody >
            <tr ng-click="inilistController.inilist.selectCharacter(character)"
                ng-repeat="character in inilistController.inilist.getCharacterList().getCharacterArray()"
                ng-class="{success: inilistController.inilist.getCurrentTurnChracter() == character}">

                <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1" >
                    <span  ng-show="character.selected" class=" glyphicon glyphicon-triangle-right" aria-hidden="true"></span>  {{character.name}}</td>
                <td class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                    <input type=text class="form-control" ng-model="character.hp" name="a">
                </td>
                <td class="col-lg-10 col-md-10 col-sm-10 col-xs-9">
                    <input type="text" class="form-control" ng-model="character.statusString"  name="b">
                </td>
            </tr>
            </tbody>
        </table>
        </div>
        <div class="container-fluid">

            <button type="submit" ng-click="inilistController.inilist.nextCharacter()" autofocus class="btn btn-success">Next</button>
            <button type="button" ng-click="inilistController.inilist.finishFight()" class="btn btn-danger">End Fight</button>

        </div>

    </form>
</div>