<!DOCTYPE html>
<html ng-app="app">
<head>

    <script> const Angular = require('angular')</script>
    <script> const Ini =  require('../angularMain')</script>
    <script> const CharacterList = require('../../src/Characters/CharacterList')</script>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">

    <meta charset="UTF-8">
    <title>IniList for advanced Dungeons&Dragons V3.5</title>
</head>
<body ng-controller="iniListMainController as mainController">

<div ng-if="mainController.inilist.isEncounterStarted()">
    <ng-include src="'iniList.html'" ></ng-include>
</div>

<div ng-if="!mainController.inilist.isEncounterStarted()">
    <ng-include src="'encounterForm.html'"></ng-include>
</div>

</body>
</html>
